<div class='search'>
<label for ='search'>Search: </label>
<input id= 'search' type="text" [(ngModel)]="searchFilter" placeholder="Search">
</div>
<table>
  <thead>
    <tr class='row-border'>
      <th class="cell-border" scope='col' *ngFor='let header of tableHeaders'>
        <span>{{header}}</span>
        <div *ngIf ='header !=="MultiValue" && header !=="Reference"' class='sort-arrows'>
        <div (click) = 'increase(header)' class="arrow-up">
        </div> 
        <div (click)='decrease(header)' class="arrow-down">
        </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr  class="row-border" *ngFor='let row of displayRowArray| filter: searchFilter;let i = index;trackBy:trackByFn'>
      <td class='cell-width cell-border'>{{row[tableHeaders[0]]}}</td>
      <td class='cell-width cell-border'>{{row[tableHeaders[1]]}}</td>
      <td class='cell-width cell-border'>{{row[tableHeaders[2]]}}</td>
      <td class='cell-width cell-border'>{{row[tableHeaders[3]]}}</td>
      <td class='cell-width cell-border'>
        <div *ngFor='let value of convertToArray(row[tableHeaders[4]])'>
          {{ value }}
        </div>
      </td>
      <td class="cell-border">
        <table>
          <thead>
            <tr>
              <th scope="col" *ngFor='let key of getObjectKeys(row[tableHeaders[5]])'>{{key}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class='cell-width' *ngFor='let value of convertToArray(row[tableHeaders[5]])'>
                <div>{{value.Date1}}</div>
                <div>{{value.Date2}}</div>
                <div>{{value.Date3}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>

</table>
<div class='pagination'>
<button [ngClass]='{"highlight":currentPage === value}' *ngFor='let value of paginationButtonArray' (click)='showPageItems(value)'>{{value}}</button>
</div>
<p class='item-count'>Showing {{((currentPage-1)*paginationIncrement+1)+'-' + ((currentPage-1)*paginationIncrement+displayRowArray.length)}} of {{rowArray.length}}</p>